@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.content {
    font-family: "Noto Sans JP", sans-serif;
}

.main-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading {
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: "Noto Sans JP", sans-serif;
}

.icon {
    color: black;
}

.searchbar {
    display: flex;
    justify-content: center;
}

.search-bar {
    border-radius: 15px;
    background-color: rgb(228, 228, 228);
    border-color: white;
}

.search-bar:focus-within {
  border-color: #ffffff;
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.1),
    0 0 2px rgba(255, 255, 255, 0.587),
    0 0 12px rgba(255, 255, 255, 0.142);
}

.search {
    border: none;
    outline: none;
    box-shadow: none;
    color: black;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: url("data:image/svg+xml,%3Csvg fill='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18M6 6l12 12' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.content-cards > .grid > div,
.large-card {
  background: rgba(255, 255, 255, 0.151);
  border: 1px solid rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1rem; 
  transition: background 0.3s ease, box-shadow 0.4s ease, border-color 0.3s ease;
}

.content-cards > .grid > div:hover,
.large-card:hover {
  background: rgba(255, 255, 255, 0.267);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.132);
}

.header-text {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.custom-card {
    border-radius: 0.75rem;
    border: 1px solid rgb(235, 235, 235);
    background: linear-gradient(to top, rgba(72, 72, 72, 0.3), rgba(30, 30, 31, 0.5));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(7px);
    color: white;
}

.larger-card {
    border-radius: 0.75rem;
    border: 1px solid rgb(235, 235, 235);
    background: linear-gradient(to top, rgba(72, 72, 72, 0.3), rgba(30, 30, 31, 0.5));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(7px);
    color: white;
}