@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.main {
    font-family: "Noto Sans JP", sans-serif;
}

.research-section, .comp-section, .gtm-section, .exp-section {
    margin-left: 3.5px;
}